<h4>Digital Book</h4>
<!-- <nav >
    <a routerLink=''>Home</a>
    <pre><a routerLink='signup'>Sign Up</a>  <a routerLink='signin'>Sign In</a> </pre><br>
    <a routerLink='search'>Search Book</a>
    
</nav> -->

<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" routerLink='search'>Home</a>
    <a class="flex-sm-fill text-sm-center nav-link " routerLink='signup'>Sign Up</a>
    <a class="flex-sm-fill text-sm-center nav-link " routerLink='signin'>Sign In</a>
</nav>